{% load i18n tickets_flags cms_tags humanize %}
<div class="honeydew">
    <div class="row title hidden-xs">
        <div class="col-sm-6">{% trans "Subject" %}</div>
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-3">{% trans "Last Activity" %}</div>
    </div>
    {% for question in questions %}
        <div class="row">
            <a class="clickable" href="{% app_url 'tickets-detail' pk=question.pk %}">
                <div class="col-sm-6 col-xs-12">
                    {{ question.subject }}
                    {% if question.response_count > 0 %}
                        <span title="{% trans "Question responses" %}" class="badge">{{ question.response_count }}</span>
                    {% endif %}
                </div>
            </a>
            <span class="clickable">
                <div class="col-sm-3 col-xs-3">{{ question.status|render_status }}</div>
                <div class="col-sm-3 col-xs-9" title="{{ question.last_activity|date:"r" }}">{{ question.last_activity|naturaltime }}</div>
            </span>
        </div>
        {% if forloop.last and more_url %}
            <div class="row more-questions"><span class="clickable"><div class="col-xs-12"><div class="pull-right"><a class="btn btn-info" href="{{ more_url }}">{% trans "More Questions" %}</a></div></div></span></div>
        {% endif %}
    {% empty %}
        <div class="row empty-message"><span class="clickable">
            <div class="col-xs-12">{% trans "There are no questions." %}</div>
        </span></div>
    {% endfor %}
</div>
