{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<span class="sr-only"><a href="#question-form">{% trans "Go to Question form" %}</a></span>

<div class="table-responsive">
    <table class="table table-hover table-honeydew">
        <thead>
            <tr>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Responses" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Last Activity" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for question in object_list %}
            <tr>
                <td><a href="{% url 'tickets-detail' pk=question.pk %}">{{ question.subject }}</a></td>
                <td>{{ question.response_count }}</td>
                <td>{{ question.get_status_display }}</td>
                <td title="{{ question.last_activity|date:"r" }}">{{ question.last_activity|timesince }} {% trans "ago" %}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan=4>{% trans "There are no questions." %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="panel panel-default col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel-body">
        <form id="question-form" class="form" method="post" action="{% url 'tickets-index' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">{% trans "Submit" %}</button>
        </form>
    </div>
</div>
{% endblock %}
