Django>=1.6,<1.7
Markdown<2.5
South
celery<3.2
configobj
cssutils
django-aggregate-if
django-annoying
django-assets==0.10
django-async-messages
django-bitfield
django-bootstrap-form
django-braces
django-celery
django-csp
django-extensions
django-model-utils!=2.3
django-mptt
django-otp
django-ratelimit-backend
django-two-factor-auth>=1.0.0,<=1.2.0
django-watson>=1.1.4
djorm-ext-pgbytea>=0.6.0
factory-boy
jsmin
jsondate
lxml
premailer
progress
psycopg2
python-daemon<1.7
pytz
salmon-mail>=2
simplejson
git+https://github.com/moggers87/django-session-csrf.git
