Django>=1.11,<1.12
Markdown
celery>=3.1,<4.0
configobj
django-annoying
django-assets
django-async-messages
django-bitfield>=1.9.2
django-bootstrap-form
django-braces
django-celery
django-csp>3.0
django-extensions
django-formtools
django-mptt
django-otp
django-ratelimit-backend
django-sendfile2
-e git+https://github.com/justinmayer/django-elevate@2a85095e17279d7e8489720a57ea67d04f380c0d#egg=django-elevate
django-two-factor-auth>=1.5.0
django-watson>=1.2.0
faker==0.8.5  # 0.8.6 and later require text-unidecode, which is incompatible with the AGPL :(
factory-boy
jsmin
lxml
mock
phonenumberslite
pillow
pip-tools
premailer
progress
psycopg2
pytz
salmon-mail>=3.0,<3.1
simplejson
typing
