Django>=1.11,<1.12
Markdown
celery>=4.1,<4.2
configobj
django-annoying
django-assets
django-async-messages
django-bitfield>=1.9.2
django-bootstrap-form
django-braces
django-csp>3.0
-e git+https://github.com/moggers87/django-cursor-pagination@d066d004a8bedfef5aa4c9ffa1fd65e9e760f270#egg=django-cursor-pagination
django-extensions
django-formtools
django-mptt
django-otp
django-ratelimit-backend
django-sendfile2
-e git+https://github.com/justinmayer/django-elevate@2a85095e17279d7e8489720a57ea67d04f380c0d#egg=django-elevate
-e git+https://github.com/etianen/django-watson@500a410f38d2e8053f0a2e0ac850522211a3b206#egg=django-watson
django-two-factor-auth>=1.5.0
django-watson>=1.2.0
faker==0.8.5  # 0.8.6 and later require text-unidecode, which is incompatible with the AGPL :(
factory-boy
ipaddress
jsmin
lxml
mock
phonenumberslite
pillow
pip-tools
premailer
progress
psycopg2
pytz
salmon-mail>=3.0,<3.1
simplejson
typing
