Django>=1.6,<1.7
Markdown
South
configobj
django-annoying
django-bitfield
django-celery
django-extensions
django-model-utils
django-mptt
django-ratelimit-backend
djorm-ext-pgbytea
psycopg2
pytz
-e git+https://github.com/moggers87/django-watson.git@view-mixin-kwargs#egg=django-watson
-r queue/requirements.txt
-r router/requirements.txt
-r website/requirements.txt
