{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h2> {% trans "We're liberating!" %} </h2>
    <p>
    We're currently making a tarball of all your data excluding:
    <ul>
        <li> Your password (It's salted and hashed so would be useless to you) </li>
        <li> Your user specific salt </li>
    </ul>
    Your emails will be in <a href="https://en.wikipedia.org/wiki/Maildir">maildir</a> format and all other data is in <a href="https://en.wikipedia.org/wiki/Json">JSON</a>. If our servers have a lot of load it make take some time to liberate the data, if you are worried there has been a problem please contact <a href="/help/contact">support</a>.
    </p>
    
{% endblock %}
