{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="registration">

    <div class="errors">
        {% if form.errors %}
            <ul>
            {% for error in form.errors.values %}
                {% for e in error %}
                    <li class="remove-style text-center text-error">{{ e }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <span class="span-6">
        <form action="" class="form form-register" method="post">
            {% csrf_token %}
            <input id="id_username" maxlength="30" name="username" type="text" placeholder="Username" />
            <input id="id_password1" name="password1" type="password" placeholder="Password" />
            <input id="id_password2" name="password2" type="password" placeholder="Repeat Password" />

            <button class="btn btn-centre">Sign up!</button>
        </form>
    </span>

    <span class="span-6 registration-info">
        <h4>Strong Passwords</h4>
        <p>Using a mix of upper and lower case letter, numbers and symbols help
            to make your password stronger. Try using a sentence rather than a
            single word if that helps you remember it.</p>
        <h4>Lose Our Password, Lose Your Account</h4>
        <p>We have consciously chosen not to implement a password recovery procedure. Please don't
            forget your password, you won't be able to get into your account otherwise.</p>
    </span>

</div>
{% endblock %}
