{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% if form.non_field_errors %}
    <p class="alert alert-danger">
        {{ form.non_field_errors }}
    </p>
{% endif %}
{% for field in form %}
    {% if field.errors %}
        {% for error in field.errors %}
            <p class="alert alert-danger">
                <strong>{{ field.label }}:</strong> {{ error }}
            </p>
        {% endfor %}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{% url 'user-registration' %}" class="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="id_username" class="form-control" maxlength="30" name="username" type="text" placeholder="Username" />
                        <input id="id_password1" class="form-control" name="password1" type="password" placeholder="Password" />
                        <input id="id_password2" class="form-control" name="password2" type="password" placeholder="Repeat Password" />
                    </div>

                    <button class="btn btn-primary">Sign up!</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h4>Strong Passwords</h4>
        <p>Using a mix of upper and lower case letter, numbers and symbols help
            to make your password stronger. Try using a sentence rather than a
            single word if that helps you remember it.</p>
        <h4>Lose Your Password, Lose Your Account</h4>
        <p>We have consciously chosen not to implement a password recovery procedure. Please don't
            forget your password, you won't be able to get into your account otherwise.</p>
    </div>

</div>
{% endblock %}
