{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <h2> {% trans "Welcome!" %}</h2>
    <p> {% blocktrans with settings.SITE_NAME as name %}
    Welcome to {{ name }}, your registration was successful. We're glad you've come to help us test this service we're making! If you notice any problems or think of some improvements we could be doing can you head over to <a href="https://github.com/Inboxen/website/issues/">here</a> and let us know!
    <br />
    <br />
    You can login and begin using the service. Some tips on how to use this service effectively:
    <ul>
        <li>Don't give an inbox to more than one site or person</li>
        <li>Remember an inbox or keep one on your phone so you can give it to people when you're away from your computer </li>
    </ul>

    If you like us, recomend us to a friend!
    {% endblocktrans %}
    <br />
    <br />
    <a class="btn btn-large btn-centre" href="{% url 'user-login' %}" style="margin-left:43%;">{% trans "Login" %}</a>

{% endblock %}
