{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if email_address %}
    <h2> {{ email_address }} {% trans "Inbox" %}</h2>
{% else %}
    <h2> {% trans "Unified Inbox" %} </h2>
{% endif %}

{% if error %}
    <p> {{ error }} </p>
{% elif not emails %}
    <p> {% trans "You don't have any emails :(" %}
{% else %}

    <table class="table table-hover table-centre table-bordered">
    <thead>
    <tr>
        <th></th>
        <th>{% trans "From" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Recieved" %}</th>
        <th></th>
    </tr>
    </thead>
    
    {% for email in emails.object_list %}
        <form action="/inbox/{{ email_address }}" method="POST">
            {% if email.read %}
                <tr>
            {% else %}
                <tr class="info">
            {% endif %}


                <td><input type="checkbox" name="email"></td>
                <td> {{ email.sender }}</td>
                {% if email.subject %}
                    <td><a href="/inbox/{{ email.inbox }}/view/{{ email.id }}"> {{ email.subject }} </a></td>
                {% endif %}
                    <td><span title="{{email.recieved_date }}">{{ email.recieved_date|timesince }} {% trans "ago" %}</span></td>
                <td><a class="close" href="/inbox/{{ email.inbox }}/delete/{{ email.id }}">&times;</a></td>

            </tr>
        </form>
        

    {% endfor %}
    </table>

    <div class="pagination text-right">
        <ul>
            {% if emails.has_previous %}
                {% if email_address %}
                    <li><a href="/inbox/{{ email_address }}/{{ emails.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li><a href="/inbox/{{ emails.previous_page_number }}">&laquo;</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}
            {% for page in pages %}
                {% if page.active %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                <a href="/inbox/{{ page.page }}">{{ page.page }}</a></li>
            {% endfor %}
            
            {% if emails.has_next %}
                {% if email_address %}
                    <li><a href="/inbox/{{ email_address }}/{{ emails.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li><a href="/inbox/{{ emails.next_page_number }}">&raquo;</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
   </div>
{% endif %}

{% endblock %}
