{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li><a href="/user/settings/" data-toggle="tab">{% trans "General" %}</a></li>
            <li><a href="/user/settings/password/" data-toggle="tab">{% trans "Change Password" %}</a></li>
            <li class="active"><a href="/user/settings/liberate/" data-toggle="tab">{% trans "Data Liberation" %}</a></li>
            <li><a href="/user/settings/delete/" data-toggle="tab">{% trans "Delete Account" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form class="form wide-form form-open-top" action="/user/settings/liberate/liberate" method="POST">
                    {% csrf_token %}
                    <div class="input-prepend">
                        <span class="add-on">{% trans "Mail Storage Type:" %}</span>
                        <select id="prependedInput" name="mailType">
                            <option value="maildir">Maildir</option>
                            <option value="mailbox">Mailbox (.mbox)</option>
                        </select>
                    </div>
                    <br />
                    <div class="input-prepend">
                        <span class="add-on">{% trans "Compression Type:" %}</span>
                        <select id="prependedInput" name="compressType">
                            <option value="tar.gz">Tar (gzip compressed)</option>
                            <option value="tar.bz2">Tar (bzip2 compressed)</option>
                            <option value="tar">Tar (no compression)</option>
                        </select>
                    </div>
                    <br />
                    <button class="btn">{% trans "Liberate!" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
