{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
    <h2>{% blocktrans with settings.SITE_NAME as SITE_NAME %} Current status of {{ SITE_NAME }} {% endblocktrans %}</h2>
    <p>{% blocktrans with settings.SITE_NAME as SITE_NAME %} {{ SITE_NAME }} is currently in heavy development, we're currently <strong>not</strong> feature complete. We expect there to be bugs. Please be aware of the following things:{% endblocktrans %}<br />
        <ul>
            <li>{% trans "The software <strong>may</strong> contain critical bugs (which may result in data loss, non-functioning parts of the code, etc...)" %}</li>
            <li>{% trans "The infrastruture is also being tested and developed, this means we may have server problems and even downtime" %}</li>
        </ul>

    <br />
    {% blocktrans with settings.SITE_NAME as SITE_NAME %} Please only continue if you accept these could occur while using this service. We're constantly working on {{ SITE_NAME }}, in the future the risks will be much lower and we will have a stable, reliable service.{% endblocktrans %}<p>

    <div class="text-center">
        <a href="{% url 'index' %}" class="btn btn-default">{% trans "I'll return when you're stable" %}</a>
        <a href="{% url 'user-registration' %}" class="btn btn-primary">{% trans "I accept! Let me join!" %}</a>
    </div>
</div>
</div>
{% endblock %}
