/*
* Sticky footer:
* Adapted from http://twitter.github.io/bootstrap/examples/sticky-footer.html
*/

body, html {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* The negative end number should be the same as the high in .footer */
    margin: 0 auto -40px;
}

.footer p {
    text-align: center;
    padding-top: 10px;
}

.push {
    height: 72px;
}

/*
 * Some styling to bootstrap
 * These have been adapted from: http://twitter.github.io/bootstrap/examples/carousel.html
 */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    margin: 0;
    padding: 0;
}

.navbar-wrapper {
    margin-bottom: -90px;
}

.container {
    margin-left:10%;
    margin-right:0;
    margin-bottom:20px;
    width:80%;
}

.navbar .navbar-inner {
    background-image: none;
    background-color: rgb(238, 238, 238);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid rgb(204, 204, 204);;
}

.navbar .brand {
    padding: 14px 20px 16px;
    font-size: 16px;
    font-weight: bold;
}

.navbar .nav > li > a {
    padding: 15px 20px;
}

.navbar .btn-navbar {
    margin-top: 10px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color:#222;
    text-shadow: none;
}

.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
    color:#555;
}

.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
    color:#555;
}

@media (max-width: 979px) {
    .container.navbar-wrapper {
        margin-bottom: 0;
    }
    .navbar-inner {
        padding-top:10px;
        border-radius: 0;
        margin: -20px 0;
    }
}


@media (max-width: 840px) {
    .container {
        margin-left:0;
        margin-right:0;
        width:auto;
    }

    .navbar-inner {
        padding-top:10px;
        margin: -20px;
    }
}

/*
 * Form stuff
 * Adjusted from: http://twitter.github.io/bootstrap/examples/signin.html
 */
.error {
    margin-left:35%;
}

.form {
    max-width: 210px;
    padding: 19px 19px 19px;
    margin: 0 auto 20px;
    background-color: #FFF;
    border: 1px solid #e5e5e5;
}

.wide-form {
    max-width: 100%;
}

.form-open-top {
    border-top: none;
}

.form input {
    height: auto;
    padding: 4px 3px;
}

.form select {
    width: 78%;
}

.table-open-top {
    border-top: none;
}

.btn {
    margin-top:5px;
    border-color: #BBB;
    color: rgb(90, 90, 90) !important;
}

.btn-centre {
    margin-left:30%;
}

.btn-ontop {
    margin-top:0px;
    margin-bottom:5px;
}

/*
 * Right now some melon stuff
 */

.remove-style {
    list-style-type: none;
}

.constant-alias {
    width:100px;
}

.content {
    margin-top:100px;
    margin-left:10%;
    margin-right:10%;
    padding-left:10px;
    padding-right:10px;
}

.big-paragraph {
    font-size:12pt;
}

.label-right {
    margin-top:10px;
    float:right;
}

.btn-attachment {
    margin-top:0;
}

.inline {
    display:inline;
}

div.draft-blog {
    background-color: HotPink;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0px;
}

a.blog_title {
    color: inherit;
}

/*
 * Labels
 */

.label {
    color: #555;
    font-weight: normal;
    text-shadow: none;
    background-color: rgb(238, 238, 238);
}

/*
 * Badge
 */
.badge {
    color: #555;
    font-weight: normal;
    text-shadow: none;
    background-color: rgb(238, 238, 238);
}

/*
 * Nav bar
 */

.nav {
    margin-bottom: 0;
}

/*
 * Tables
 */

.table-honeydew {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.table-honeydew div {
    overflow: hidden;
}
