{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <div class="login">

        <form action="/email/add/" class="form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="alias" value="{{ alias }}">
            <div class="input-prepend">
                <span class="add-on constant-alias">{{ alias }}@</span>
                <select id="prependedInput" name="domain">
                {% for domain in domains %}
                    <option value="{{ domain }}">{{domain}}</option>
                {% endfor %}
                </select>
            </div>
            <br />
            <input id="tag" name="tag" placeholder="{% trans "Tag" %}"><br />
            <button class="btn btn-primary btn-centre">{% trans "Add" %}</button>        
        </form>

    </div>

{% endblock %}
