{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>Inboxen - {{ page }}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/inboxen.min.css" rel="stylesheet">

        {% block feeds %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="navbar-wrapper">
                <div class="container">
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <a class="brand" href="/">Inboxen</a>
                            <ul class="nav">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                        <li><a href="/admin">{% trans "Admin" %}</a></li>
                                    {% endif %}
                                    <li><a href="/email/add">{% trans "Add Alias" %}</a></li>
                                    <li><a href="/blog/">{% trans "Blog" %}</a></li>
                                    <li><a href="/help/contact">{% trans "Contact" %}</a></li>
                                    <li><a href="/user/settings">{% trans "Settings" %}</a></li>
                                    <li><a href="/user/logout">{% trans "Logout" %}</a></li>
                                {% else %}
                                    <li><a href="/user/login">{% trans "Login" %}</a></li>
                                    {% if registration_enabled %}
                                        <li><a href="/user/register/status/">{% trans "Register" %}</a></li>
                                    {% endif %}
                                    <li><a href="/blog/">{% trans "Blog" %}</a></li>
                                    <li><a href="/help/contact">{% trans "Contact" %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
                <div class="push">
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="muted">
                <a href="https://github.com/Inboxen/front-end/">{% trans "This website" %}</a> 
                {% trans "is licensed under the" %} <a href="https://www.gnu.org/licenses/agpl.txt">AGPL v3</a> |  
                <a href="https://github.com/Inboxen/back-end/">{% trans "The backend" %}</a> 
                {% trans "is licensed under the" %} <a href="https://www.gnu.org/licenses/gpl.txt">GPL v3</a> | 
                {% trans "Bootstrap is licensed under " %} <a href="https://www.apache.org/licenses/LICENSE-2.0"> 
                {% trans "Apache Licence" %}</a>
            </p>
    </div>
    </body>
</html>
