{% load i18n %}

<html>
    <head>
        <title>Inboxen - {{ page }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="heading">
            <span class="logo"><a href="/">Inboxen</a></span>
            <span class="menu">
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="/admin">{% trans "Admin" %}</li></a>
                    {% endif %}
                    <li><a href="/add-alias">{% trans "Add Alias" %}</li></a>
                    <li><a href="/settings">{% trans "Settings" %}</a></li>
                    <li><a href="/logout">{% trans "Logout" %}</a></li>
                {% else %}
                    <li><a href="/login">{% trans "Login" %}</a></li>
                    {% if registration_enabled %}
                        <li><a href="/register">{% trans "Register" %}</a></li>
                    {% endif %}
                    <li><a href="/contact">{% trans "Contact" %}</a></li>
                {% endif %}
            </ul>
            </span>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %} 
        </div>
    </body>
</html>
