{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<strong>{% trans "From" %}</strong>: {{ email.sender }}<br />
<strong>{% trans "Subject" %}</strong>: {{ email.subject }}<br />
<strong>{% trans "Recveied" %}</strong>: {{ email.recieved_date }} ({{ email.recieved_date|timesince }} {% trans "ago" %})<br /><br />

<strong>{% trans "Message" %}</strong>:<br />
<pre>
{{ email.body }}
</pre>

<strong>{% trans "Attachments" %}</strong>:<br />
{% for attachment in attachments %}
    <a href="/email/attachment/{{ attachment.id }}">{{ attachment.content_disposition }} ({{ attachment.content_type }})</a><br />
{% endfor %}

{% endblock %}
