{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2> {% trans "Emails" %} </h2>

{% if error %}
    <p> {{ error }} </p>

{% elif not emails %}
    <p> {% trans "You don't have any emails :(" %}

{% else %}
    <table>
    <tr>
        <th></th>
        <th>{% trans "From" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Recieved" %}</th>
    </tr>
    
    {% for email in emails.object_list %}
        <form action="/inbox/{{ email_address }}" method="POST">
            {% if email.read %}
                <tr class="read">
            {% else %}
                <tr class="unread">
            {% endif %}


                <td><input type="checkbox" name="email"></td>
                <td> {{ email.sender }}</td>
                {% if email.subject %}
                    <td><a href="/inbox/{{ email_address }}/view/{{ email.id }}"> {{ email.subject }} </a></td>
                {% endif %}
                    <td><span title="{{email.recieved_date }}"> {{ email.recieved_date|timesince }}{% trans "ago" %}</span></td>

            </tr>
        </form>
        

    {% endfor %}
    </table>

    <!-- lifted from the django docs >.> -->
    <div class="pagination">
        <span class="step-links">
            {% if emails.has_previous %}
                {% if email_address %}
                    <a href="/inbox/{{ email_address }}/{{ emails.previous_page_number }}">{% trans "previous" %}</a>
                {% else %} 
                    <a href="/inbox/{{ emails.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
            {% endif %}

            <span class="current">
                Page {{ emails.number }} of {{ emails.paginator.num_pages }}.
            </span>

            {% if emails.has_next %}
                {% if email_address %}
                    <a href="/inbox/{{ email_address }}/{{ emails.next_page_number }}">{% trans "next" %}</a>
                {% else %}
                    <a href="/inbox/{{ emails.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            {% endif %}
        </span>
    </div>

{% endif %}

{% endblock %}
