{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2> What's Inboxen? </h2>
<dl>
	<span class="span4">
		<h3> Privacy </h3>
		<p> Each site and person get their own email address, this stops them identifying you by your email </p>
	</span>

	<span class="span4">
		<h3> Perminant </h3>
		<p> Addresses are not just throw away, you have access to them forever</p>
	</span>

	<span class="span4">
		<h3> Read-only</h3>
		<p>Since most of us use email mainly for consumption, notifications, password reset, etc...</p>
	</span>

	<span class="span4">
		<h3> Free and Open Source Software</h3>
		<p>All the code is under AGPL v3 which retains your freedom, see our <a href="https://github.com/inboxen/"> code!</a></p>
	</span>

{% endblock %}