{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2> What's Inboxen? </h2>
<dl>
	<dt>Privacy</dt>
	<dd>Each site and person get their own email address, this stops them identifying you by your email</dd>

	<dt>Perminant</dt>
	<dd>Addresses are not just throw away, you have access to them forever</dd>

	<dt>Read-only</dt>
	<dd>Since most of us use email mainly for consumption, notifications, password reset, etc...</dd>

	<dt>Free and Open Source Software</dt>
	<dd>All the code is under AGPL v3 which retains your freedom, see our <a href="https://github.com/inboxen/"> code!</a></dl>
</dl>

{% endblock %}