{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h2> What's Inboxen? </h2>

	<span class="span4">
		<h3> Privacy </h3>
		<p> Generate unique email addresses for every site you sign up to! </p>
	</span>

	<span class="span4">
		<h3> Permanent </h3>
		<p> Addresses are not just throw away, you can keep them forever</p>
	</span>

	<span class="span4">
		<h3> Spam Friendly </h3>
		<p> Don't let promotional offers clog up your main inbox! </p>
	</span>

	<span class="span4">
		<h3>Add Free!</h3>
		<p>Hate adds? We do too, this site is completely add free</p>
	</span>

	<span class="span4">
		<h3> Free and Open Source Software</h3>
		<p> Freedom!!1 See our <a href="https://github.com/inboxen/"> code!</a></p>
	</span>

{% endblock %}