{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="content">

    <h2> {% trans "Alises" %} </h2>
    {% if not aliases %}
        <p>{% trans "You have not added any alises yet, this makes me a sad panda :(" %} </p>
    {% else %}

        <table class="alias-table">
            <tr>
                <th>{% trans "Alias" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>{% trans "Inbox" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
            
            {% for alias in aliases.object_list %}

                <tr>
                    <td>{{ alias.alias }}@{{ alias.domain }}</td>
                    <td><span title="{{ alias.created }}">{{ alias.created|timesince }} {% trans "ago" %}</span></td>
                    <td>{{ alias.tags }}</td>
                    <td><a href="/inbox/{{ alias.alias }}@{{ alias.domain }}">{% trans "View" %}</a></td>
                    <td><a href="/delete/{{ alias.alias }}@{{ alias.domain }}">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
        </table>
        <div class="paginator">
            <span class="step-link">
                {% if aliases.has_previous %}
                    <span class="paginator-prev"><a href="/profile/{{ aliases.previous_page_number }}">{% trans "Previous" %}</a></span>
                {% endif %}
                <span class="current">
                    {% trans "Page" %} {{ aliases.number }} {% trans "of" %} {{ aliases.paginator.num_pages }}.
                </span>
                {% if aliases.has_next %}
                    <span class="paginator-next"><a href="/profile/{{ aliases.next_page_number }}">{% trans "Next" %}</a></span>
                {% endif %}
            </span>
       </div>                
    {% endif %}

</div>

{% endblock %}
