{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="content">

    <h2> {% trans "Alises" %} </h2>
    {% if not aliases %}
        <p>{% trans "You have not added any alises yet, this makes me a sad panda :(" %} </p>
    {% else %}

        <table>
            <tr>
                <th>{% trans "Alias" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>{% trans "Inbox" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
            
            {% for alias in aliases %}

                <tr>
                    <td>{{ alias.alias }}@{{ alias.domain }}</td>
                    <td><span title="{{ alias.created }}">{{ alias.created|timesince }} {% trans "ago" %}</span></td>
                    <td>{{ alias.tags }}</td>
                    <td><a href="/inbox/{{ alias.alias }}@{{ alias.domain }}">{% trans "View" %}</a></td>
                    <td><a href="/delete/{{ alias.alias }}@{{ alias.domain }}">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

</div>

{% endblock %}
