{% extends 'user/settings/index.html' %}
{% load i18n %}

{% block navpills %}
    <li><a href="{% url 'user-settings' %}">{% trans "General" %}</a></li>
    <li><a href="{% url 'user-password' %}">{% trans "Change Password" %}</a></li>
    <li><a href="{% url 'user-liberate' %}">{% trans "Liberate Data" %}</a></li>
    <li><a href="{% url 'user-twofactor' %}">{% trans "Two Factor Authentication" %}</a></li>
    <li class="active"><a href="{% url 'user-delete' %}">{% trans "Delete Account" %}</a></li>
{% endblock %}

{% block form %}
    <form method="POST" action="{% url 'user-delete' %}" class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <a href="{% url 'user-home' %}" class="btn btn-default">{% trans "Don't delete my account!" %}</a>
        <button class="btn btn-danger">{% trans "Delete my account" %}</button>
    </form>
{% endblock %}
