{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<ul class="nav nav-pills">
    <li><a href="{% url 'user-settings' %}">{% trans "General" %}</a></li>
    <li><a href="{% url 'user-password' %}">{% trans "Change Password" %}</a></li>
    <li><a href="{% url 'user-liberate' %}">{% trans "Liberate Data" %}</a></li>
    <li class="active"><a href="{% url 'user-delete' %}">{% trans "Delete Account" %}</a></li>
</ul>
<br />
<form method="POST" action="{% url 'user-delete' %}" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'user-home' %}" class="btn btn-default">{% trans "Don't delete my account!" %}</a>
    <button class="btn btn-danger">{% trans "Delete my account" %}</button>
</form>
{% endblock %}
