{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% block errors %}
        {% if error %}
            <p class="alert error">
                <strong>{% trans "Error" %}:</strong>
                {{ error }}
            </p>
        {% endif %}
    {% endblock %}
    <ul class="nav nav-pills nav-justified">
    {% block navpills %}
        <li class="active"><a href="{% url 'user-settings' %}">{% trans "General" %}</a></li>
        <li><a href="{% url 'user-password' %}">{% trans "Change Password" %}</a></li>
        <li><a href="{% url 'user-liberate' %}">{% trans "Liberate Data" %}</a></li>
        <li><a href="{% url 'user-delete' %}">{% trans "Delete Account" %}</a></li>
    {% endblock %}
    </ul>
    <br />
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    {% block form %}
        <form action="{% url 'user-settings' %}" class="form-horizontal" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-xs-10">
                    <div class="checkbox"><label>
                    <input type="checkbox" id="html-preference" name="html-preference" value="html" {%if htmlpreference %}checked{% endif %}/>
                {% trans "Prefer HTML emails" %}
                </label></div>
                </div>
            </div>
            <div class="form-group">
                <p>{% trans "Your current username is" %} <strong>{{ user.username }}</strong></p>
                <label class="sr-only" for="username0">{% trans "New Username" %}</label>
                <input class="form-control" id="username0" name="username0" type="text" placeholder="{% trans "New Username" %}" />
                <label class="sr-only" for="username1">{% trans "Confirm Username" %}</label>
                <input class="form-control" id="username1" name="username1" type="text" placeholder="{% trans "Confirm Username" %}" />
            </div>
            <div class="form-group col-xs-12">
                <button class="btn btn-primary">{% trans "Save" %}</button>
                <a href="{% url 'user-home' %}" class="btn btn-default">{% trans "Cancel" %}</a>
            </div>
        </form>
    {% endblock %}
    </div>
{% endblock %}
