{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li><a href="{% url 'user-settings' %}" data-toggle="tab">{% trans "General" %}</a></li>
            <li><a href="{% url 'user-password' %}" data-toggle="tab">{% trans "Change Password" %}</a></li>
            <li class="active"><a href="{% url 'user-liberate' %}" data-toggle="tab">{% trans "Liberate Data" %}</a></li>
            <li><a href="{% url 'user-delete' %}" data-toggle="tab">{% trans "Delete Account" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form class="form wide-form form-open-top" action="/user/settings/liberate/liberate" method="POST">
                    {% csrf_token %}
                    <div style="width: 400px;">
                        {{ form.as_p }}
                    </div>
                    <button class="btn">{% trans "Liberate!" %}</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
