{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    {% if form.errors %}
        <span class="alert error">
            <strong>{% trans "Error" %}:</strong>
            {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </span>
    {% endif %}


    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li><a href="{% url 'user-settings' %}" data-toggle="tab">{% trans "General" %}</a></li>
            <li class="active"><a href="{% url 'user-password' %}" data-toggle="tab">{% trans "Change Password" %}</a></li>
            <li><a href="{% url 'user-liberate' %}" data-toggle="tab">{% trans "Liberate Data" %}</a></li>
            <li><a href="{% url 'user-delete' %}" data-toggle="tab">{% trans "Delete Account" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form class="form wide-form form-open-top" action="{% url 'user-password' %}" method="post">{% csrf_token %}


                        {{ form.old_password.errors }}
                    <input id="id_old_password" name="old_password" type="password" placeholder="{% trans "Old Password" %}" /><br />

                        {{ form.new_password1.errors }}
                    <input id="id_new_password1" name="new_password1" type="password" placeholder="{% trans "New Password" %}" /><br />

                    {{ form.new_password2.errors }}
                    <input id="id_new_password2" name="new_password2" type="password" placeholder="{% trans "New Password (again)" %}" /><br />

                    <button style="margin-left:10px;" class="btn">{% trans "Change" %}</button>
                    <a href="{% url 'user-password' %}" class="btn">{% trans "Don't change" %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
