{% extends 'user/settings/index.html' %}
{% load i18n inboxen_settings %}

{% block navigation %}
    {% settings_menu 'user-resurrect' %}
{% endblock %}

{% block errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger">
            {{ error }}
        </p>
    {% endfor %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="alert alert-danger">
                    <strong>{{ field.label }}:</strong> {{ error }}
                </p>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block form %}
    <form method="POST" action="{% url 'user-resurrect' %}" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label>{{ form.address.label }}</label>
            {{ form.address }}
        </div>
        <button class="btn btn-primary">{% trans "Resurrect Inbox" %}</button>
    </form>
{% endblock %}
