{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="/admin/" data-toggle="tab">{% trans "Statistics" %}</a></li>
            <li><a href="/admin/requests/" data-toggle="tab">{% trans "Requests" %}</a></li>
            <li><a href="/admin/support/" data-toggle="tab">{% trans "Support Emails" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <dl>
                    <dt>{% trans "Number of users" %}</dt>
                    <dd>{{ statistics.users }}</dd>
                    
                    <dt>{% trans "Number of active users" %}</dt>
                    <dd>{{ statistics.active_users }}</dd>
                    
                    <dt>{% trans "Number of new users today" %}</dt>
                    <dd>{{ statistics.new_users }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
