{% extends 'base.html' %}

{% load i18n %}

{% block header %}
    <link href="{% url 'blog-feed-rss' %}" rel="alternate" type="application/rss+xml" title="{% blocktrans with settings.SITE_NAME as name %}{{ name }}  Blog {% endblocktrans %}" />
    <link href="{% url 'blog-feed-atom' %}" rel="alternate" type="application/atom+xml" title="{% blocktrans with settings.SITE_NAME as name %}{{ name }} Blog {% endblocktrans %} (Atom)" />
{% endblock %}

{% block content %}


{% for post in posts %}
    <div class="panel panel-default col-xs-12"><div class="panel-body">
        <h2>
            <a href="{% url 'blog-post' postid=post.id %}" class="inherit-colour">{{ post.subject }}</a>
        </h2>
        <p class="text-right" title="{{ post.date|date:"r" }}"><i>{{ post.date|date:"jS F Y" }}</i></p>
        <p> {{ post.rendered_body }}</p><br />
        <br />
    </div></div>
{% endfor %}

<ul class="pager">
    {% if posts.has_previous %}
        <li class="previous"><a href="{% url 'blog' page=posts.previous_page_number %}">
            <span aria-hidden="true">&laquo;</span><span class="sr-only">{% trans "Previous" %}</span>
        </a></li>
    {% endif %}
    {% if posts.has_next %}
        <li class="next"><a href="{% url 'blog' page=posts.next_page_number %}">
            <span aria-hidden="true">&raquo;</span><span class="sr-only">{% trans "Next" %}</span>
        </a></li>
    {% endif %}
</ul>

{% endblock %}
