{% extends 'blog/blog.html' %}

{% load i18n %}

{% block content %}
{% if error %}
    <p class="alert alert-danger">{{ error }}</p>
{% endif %}
<form class="form-horizontal" action="{% url 'blog-post-edit' postid=post.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-xs-12">
            <input type="text" value="{{ post.subject }}" name="subject" class="form-control">
            <textarea rows="20" name="body" class="form-control">{{ post.body }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
            <div class="checkbox"><label>
                <input type="checkbox" name="draft" value="melon" {% if post.draft %}checked{% endif %} />
                    {% trans "Draft" %}
            </label></div>
        </div>
    </div>
    <button class="btn btn-default">{% trans "Save" %}</button>
</form>
{% endblock %}
