{% extends 'user/account/index.html' %}
{% load i18n inboxen_account %}

{% block errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger">
            {{ error }}
        </p>
    {% endfor %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="alert alert-danger">
                    <strong>{{ field.label }}:</strong> {{ error }}
                </p>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block navigation %}
    {% account_menu 'user-security' %}
{% endblock %}

{% block form %}
    <form class="form" action="{% url 'user-password' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
        <label class="sr-only">{{ form.old_password.label }}</label>
        {{ form.old_password }}
        <label class="sr-only">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
        <label class="sr-only">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
        </div>
        <button class="btn btn-primary">{% trans "Change" %}</button>
        <a href="{% url 'user-security' %}" class="btn btn-default">{% trans "Don't change" %}</a>
    </form>
{% endblock %}
