{% extends "modeladmin/edit.html" %}
{% load i18n %}

{% block form %}
<ul class="objects">
    <li class="object">
        <h2>{% trans "Preview" %}</h2>
        <fieldset>
            <ul class="fields">
                <li>
                    <h3>{{ edit_handler.instance.subject }}</h3>
                </li>
                <li>
                    <div>{{ edit_handler.instance.rendered_body }}</div>
                </li>
            </ul>
        </fieldset>
    </li>
</ul>
{{ block.super }}
{% endblock %}
