{% extends 'blog/blog.html' %}

{% load i18n %}

{% block content %}

    {% if error %}
        <h4>{{ error }}</h4>
    {% endif %}
    <form class="form-horizontal" action="{% url 'blog-post-add' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" placeholder="Title" name="title" class="form-control" />
            <textarea rows="20" name="body" placeholder="Body" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="draft" class="col-xs-1">Draft</label>
            <div class="col-xs-1">
                <input type="checkbox" name="draft" value="melon" class="form-control" checked />
            </div>
        </div>
        <button class="btn btn-default">{% trans "Post" %}</button>
    </form>

{% endblock %}
