{% extends 'blog/blog.html' %}

{% load i18n %}

{% block content %}

    <form class="form wide-form" action="{% url 'blog-post-edit' postid=post.id %}" method="POST">
        {% csrf_token %}

        <input type="text" value="{{ post.subject }}" name="subject" class="input-xxlarge"><br />
        <textarea rows="20" name="body" class="input-xxlarge">{{ post.body }}</textarea><br />
        <input type="checkbox" name="draft" value="melon" {%if post.draft  %}checked{% endif %}>{% trans "Draft" %}<br />
        <button class="btn">{% trans "Save" %}</button><br />

    </form>

{% endblock %}
