{% extends 'base.html' %}

{% load i18n %}

{% block feeds %}
    <link href="/blog/feed/rss" rel="alternate" type="application/rss+xml" title="{% blocktrans %} {{ SITE_NAME }}  Blog {% endblocktrans %}" />
    <link href="/blog/feed/atom" rel="alternate" type="application/atom+xml" title="{% blocktrans %} {{ SITE_NAME }} Blog {% endblocktrans %} (Atom)" />
{% endblock %}

{% block content %}

    {% if user.is_staff %}
        <p class="text-right">
            <a href="/blog/edit/{{ post.id }}" class="btn">{% trans "Edit" %}</a>
            <a href="/blog/delete/{{ post.id }}" class="btn btn-danger">{% trans "Delete" %}</a>
        </p>
    {% endif %}

    <h2 class="inline">{{ post.subject }}</h2>
    <p class="text-right"><i>{{ post.date|date:"r" }}</i></p>
    <p> {{ post.rendered_body }}</p><br />

{% endblock %}
