[Unit]
Description=Queue daemon for Inboxen
After=network.target

[Service]
Type=forking
User=inboxen
Group=inboxen
EnvironmentFile=/etc/inboxen/inboxen.conf
WorkingDirectory=/srv/inboxen/
ExecStart="${CELERY_BIN} start inboxen ${CELERY_OPTS}"
ExecStop="${CELERY_BIN} stopwait inboxen"

[Install]
WantedBy=multi-user.target
