[Unit]
Description=Queue daemon for Inboxen
After=network.target

[Service]
Type=forking
User=inboxen
Group=inboxen
EnvironmentFile=/etc/inboxen/inboxen.conf
WorkingDirectory=/srv/inboxen/
ExecStart="/srv/inboxen/env/bin/python ${CELERY_CMD} start inboxen ${CELERY_OPTS}"
ExecStop="/srv/inboxen/env/bin/python ${CELERY_CMD} stopwait inboxen"

[Install]
WantedBy=multi-user.target
