{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="panel panel-default col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="panel-body">
        <form action="{% url 'inbox-add' %}" class="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only">{{ form.domain.label }}</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    {{ form.domain }}
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only">{{ form.tags.label }}</label>
                {{ form.tags }}
            </div>
            <button class="btn btn-default">{% trans "Add" %}</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}
