{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="row">
<div class="panel panel-default col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel-body">
    <h2> {% trans "Really?" %} </h2>
    <p>{% blocktrans with inbox=inbox.inbox domain=inbox.domain.domain %}
        Are you sure you want to delete {{ inbox }}@{{ domain }}?
        All emails in this inbox will be deleted and future emails sent to it will be rejected.
    {% endblocktrans %}</p>
    {% url 'user-restore' as account_url %}
    <p>{% blocktrans %}
        You can restore this inbox at a later date if you wish, we'll keep it safe for you in the meantime.
        You can do so from your <a href={{ account_url }}"">Account page</a>
    {% endblocktrans %}</p>
    <br />
    <form action="{% url 'inbox-delete' inbox=inbox.inbox domain=inbox.domain.domain %}" method="POST">
        {% csrf_token %} 
        <input type="hidden" name="confirm" value="{{ inbox.inbox }}@{{ inbox.domain.domain }}">
        <p>
            <button class="btn btn-danger">{% trans "Delete" %}</button>
            <a class="btn btn-default" href="{% url 'user-home' %}">{% trans "Keep it" %}</a>
        </p>
    </form>
</div>
</div>
{% endblock %}
