{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="panel panel-default col-lg-4 col-lg-offset-4">
        <div class="panel-body">
            <form class="form" action="{% url 'inbox-edit' inbox=inbox.inbox domain=inbox.domain.domain %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">{% trans "Edit" %}</label><p class="form-control-static">{{ inbox.inbox }}@{{ inbox.domain.domain }}</p>
                </div>
                <div class="form-group">
                    <label class="sr-only">{{ form.tags.label }}</label>
                    {{ form.tags }}
                </div>
                <button class="btn btn-primary">{% trans "Save" %}</button>
                <a class="btn btn-default" href="{% url 'user-home' %}">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
