{% extends 'base.html' %}

{% load i18n %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li><a href="/user/profile">{% trans "Profile" %}</a> <span class="divider">/</span></li>
        <li><a href="/inbox/{{ email.inbox }}/">{{ email.inbox }}</a> <span class="divider">/</span></li>
        <li class="active">{{ email.subject }}</li>
    </ul>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ email.subject }}</h2> <small> {{ email.from }} </small>
<div class="email">
    <strong>{% trans "Recveied" %}</strong>: {{ email.date }} ({{ email.date|timesince }} {% trans "ago" %})<br /><br />

    <strong>{% trans "Message" %}</strong>:<br />
    {% if plain_message %}
        <pre>
    {% endif %}

    {{ email.body }}

    {% if plain_message %}
        </pre>
    {% endif %}

    <br />
    <strong>{% trans "Attachments" %}</strong>:<br />
    {% for attachment in email.attachments %}
        <div class="input-prepend">
            <span class="add-on">{{ attachment.content_disposition }} ({{ attachment.content_type }})</span>
            <span class="btn-group" id="prependedInput">
                    <a href="/inbox/attachment/{{ attachment.id }}/download/" class="btn btn-attachment">{% trans "Download" %}</a>
                    <a href="/inbox/attachment/{{ attachment.id }}/view/" class="btn btn-attachment">{% trans "View" %}</a>
                </span>
        </span>
    </div><br />
{% endfor %}

</div>

{% endblock %}
