{% extends 'base.html' %}

{% load i18n %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li><a href="/user/home">{% blocktrans %} {{ user }}'s Home {% endblocktrans %}</a> <span class="divider">/</span></li>
        <li><a href="/inbox/{{ email.inbox }}/">{{ email.inbox }}</a> <span class="divider">/</span></li>
        <li class="active">{{ email.subject }}</li>
    </ul>
{% endblock %}

{% block content %}

<small> {{ email.from }} </small>
<div class="email">
    <strong>{% trans "Received" %}</strong>: {{ email.date|date:"r" }} ({{ email.date|timesince }} {% trans "ago" %})<br /><br />

    <strong>{% trans "Message" %}</strong>:<br />
    {% if plain_message %}
        <pre>
    {% endif %}

    {{ email.body|safe }}

    {% if plain_message %}
        </pre>
    {% endif %}

    <br />
    <strong>{% trans "Attachments" %}</strong>:<br />
    {% for attachment in attachments %}
        <div class="input-prepend">
            <span class="add-on">{{ attachment.1.filename }} ({{ attachment.1.content_type.0 }})</span>
            <span class="btn-group" id="prependedInput">
                    <a href="/inbox/attachment/{{ attachment.0.id }}/download/" class="btn btn-attachment">{% trans "Download" %}</a>
                    <a href="/inbox/attachment/{{ attachment.0.id }}/view/" class="btn btn-attachment">{% trans "View" %}</a>
                </span>
        </span>
    </div><br />
{% endfor %}

</div>

{% endblock %}
