{% extends 'base.html' %}
{% load i18n %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'user-home' %}">{% blocktrans %} {{ user }}'s Home {% endblocktrans %}</a> <span class="divider">/</span></li>
        
        {% if inbox %}
            <li class="active">{{ inbox }}@{{ domain }}</li>
        {% else %}
            <li class="active">{% trans "Unified Inbox" %}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}

{% if object_list|length_is:0 %}
    <p> {% trans "You don't have any emails :(" %} </p>
{% else %}

    {% if inbox %}
        {% url 'single-inbox' inbox=inbox domain=domain as inbox_url %}
    {% else %}
        {% url 'unified-inbox' as inbox_url %}
    {% endif %}

    <form action="{{ inbox_url}}/{{ page_obj.number }}" method="POST">
    {% csrf_token %}
    <button class="btn btn-ontop" type="submit" name="read">{% trans "Mark as read" %}</button>
    <button class="btn btn-ontop" type="submit" name="unread">{% trans "Mark as unread" %}</button>
    <button class="btn btn-ontop" type="submit" name="delete">{% trans "Delete" %}</button>
    <table class="table table-hover table-centre table-honeydew">
    <thead>
    <tr>
        <th></th>
        <th>{% trans "From" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Received" %}</th>
        <th></th>
    </tr>
    </thead>
    
    {% for email in page_obj.object_list %}
            {% if email.flags.read %}
                <tr>
            {% else %}
                <tr class="info">
            {% endif %}

                <td><input type="checkbox" value="email" name="{{ email.eid }}" /></td>
                <td title="{{ email.sender }}"><div>{{ email.sender }}</div></td>
                {% url 'email-view' inbox=email.inbox.inbox domain=email.inbox.domain.domain id=email.eid as email_url %}
                {% if email.subject %}
                    <td title="{{ email.subject }}"><div><a href="{{ email_url }}"> {{ email.subject }} </a></div></td>
                {% else %}
                    <td><div><i><a href="{{ email_url }}">{% trans "No Subject" %}</a></i></div></td>
                {% endif %}
                    <td title="{{ email.received_date|date:"r" }}"><div>{{ email.received_date|timesince }} {% trans "ago" %}</div></td>
                <td>
                    <button title="{% trans "Delete Email" %}" class="btn btn-link close" type="submit" name="delete-single" value="{{ email.eid }}">&times;</button>
                </td>

            </tr>

    {% endfor %}
    </table>
    </form>

    <div class="pagination text-right">
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="{{ inbox_url }}/{{ emails.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="{{ inbox_url }}/{{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
   </div>
{% endif %}
{% endblock %}
