{% extends 'base.html' %}
{% load i18n %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'user-home' %}">{% blocktrans %} {{ user }}'s Home {% endblocktrans %}</a></li>
        {% if inbox %}
            <li class="active">{{ inbox }}@{{ domain }}</li>
        {% else %}
            <li class="active">{% trans "Unified Inbox" %}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}

{% if object_list|length_is:0 %}
    <p> {% trans "You don't have any emails :(" %} </p>
{% else %}
    {% if inbox %}
        {% url 'single-inbox' inbox=inbox domain=domain as inbox_url %}
    {% else %}
        {% url 'unified-inbox' as inbox_url %}
    {% endif %}
    <div class="table-responsive">
    <form action="{{ inbox_url}}/{{ page_obj.number }}" method="POST">
    {% csrf_token %}
    <button class="btn btn-default" type="submit" name="read">{% trans "Mark as read" %}</button>
    <button class="btn btn-default" type="submit" name="unread">{% trans "Mark as unread" %}</button>
    <button class="btn btn-default" type="submit" name="delete">{% trans "Delete" %}</button>
    <table class="table table-hover table-honeydew">
    <thead>
    <tr>
        <th></th>
        <th>{% trans "From" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Received" %}</th>
        <th></th>
    </tr>
    </thead>
    {% for email in page_obj.object_list %}
            {% if email.flags.read %}
                <tr title="{% trans "Message has been read" %}">
            {% else %}
                <tr style="font-weight: bold" title="{% trans "Message is unread" %}">
            {% endif %}

                <td><input type="checkbox" value="email" name="{{ email.eid }}" /></td>
                <td>{{ email.sender }}</td>
                {% url 'email-view' inbox=email.inbox.inbox domain=email.inbox.domain.domain id=email.eid as email_url %}
                {% if email.subject %}
                    <td><a href="{{ email_url }}"> {{ email.subject }} </a></td>
                {% else %}
                    <td><i><a href="{{ email_url }}">{% trans "No Subject" %}</a></i></td>
                {% endif %}
                    <td title="{{ email.received_date|date:"r" }}"><div>{{ email.received_date|timesince }} {% trans "ago" %}</div></td>
                <td>
                    <button title="{% trans "Delete Email" %}" class="btn btn-link close" type="submit" name="delete-single" value="{{ email.eid }}">&times;</button>
                </td>
            </tr>
    {% endfor %}
    </table>
    </form>
    </div>
    <div class="text-right">
        <ul class="pagination>
            {% if page_obj.has_previous %}
                <li><a href="{{ inbox_url }}/{{ emails.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="{{ inbox_url }}/{{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
   </div>
{% endif %}
{% endblock %}
