{% extends 'base.html' %}
{% load i18n %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li><a href="/user/profile">{% trans "Profile" %}</a> <span class="divider">/</span></li>
        
        {% if email_address %}
            <li class="active">{{ email_address }}</li>
        {% else %}
            <li class="active">{% trans "Unified Inbox" %}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}

{% if error %}
    <p> {{ error }} </p>
{% elif not emails %}
    <p> {% trans "You don't have any emails :(" %} </p>
{% else %}

    <form action="/inbox/{{ email_address }}/{{ page.page }}" method="POST">
    {% csrf_token %}
    <button class="btn btn-ontop" type="submit" name="read">{% trans "Mark as read" %}</button>
    <button class="btn btn-ontop" type="submit" name="unread">{% trans "Mark as unread" %}</button>
    <button class="btn btn-ontop" type="submit" name="delete">{% trans "Delete" %}</button>
    <table class="table table-hover table-centre table-honeydew">
    <thead>
    <tr>
        <th></th>
        <th>{% trans "From" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Recieved" %}</th>
        <th></th>
    </tr>
    </thead>
    
    {% for email in emails.object_list %}
            {% if email.read %}
                <tr>
            {% else %}
                <tr class="info">
            {% endif %}

                <td><input type="checkbox" value="email" name="{{ email.eid }}" /></td>
                <td title="{{ email.sender }}"> {{ email.sender }}</td>
                {% if email.subject %}
                    <td title="{{ email.subject }}"><a href="/inbox/{{ email.inbox }}/view/{{ email.eid }}"> {{ email.subject }} </a></td>
                {% else %}
                    <td></td>
                {% endif %}
                    <td title="{{email.recieved_date }}">{{ email.recieved_date|timesince }} {% trans "ago" %}</td>
                <td><a title="{% trans "Delete Email" %}" class="close" href="/inbox/{{ email.inbox }}/delete/{{ email.eid }}">&times;</a></td>

            </tr>

    {% endfor %}
    </table>
    </form>

    <div class="pagination text-right">
        <ul>
            {% if emails.has_previous %}
                {% if email_address %}
                    <li><a href="/inbox/{{ email_address }}/{{ emails.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li><a href="/inbox/{{ emails.previous_page_number }}">&laquo;</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}
            {% for page in pages %}
                {% if page.active %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                {% if email_address %}
                    <a href="/inbox/{{ email_address }}/{{ page.page }}">{{ page.page }}</a>
                {% else %}
                    <a href="/inbox/{{ page.page }}">{{ page.page }}</a>
                {% endif %}
                </li>
            {% endfor %}
            
            {% if emails.has_next %}
                {% if email_address %}
                    <li><a href="/inbox/{{ email_address }}/{{ emails.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li><a href="/inbox/{{ emails.next_page_number }}">&raquo;</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
   </div>
{% endif %}

{% endblock %}
