{% extends 'base.html' %}

{% load i18n %}

{% block content %}

  <div class="tabbable">
        <ul class="nav nav-tabs">
            <li><a href="/user/settings/" data-toggle="tab">{% trans "General" %}</a></li>
            <li><a href="/user/settings/password/" data-toggle="tab">{% trans "Change Passowrd" %}</a></li>
            <li class="active"><a href="/user/settings/delete/" data-toggle="tab">{% trans "Delete Account" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <form class="form wide-form form-open-top">
                    <p> {% trans "If you delete your account we cannot get it back. Your emails and ability to recieve new emails will be gone for good" %}
                    <br /><br />
                    {% trans "Please type your username to confirm" %}
                    </p>
                    <input type="text" placeholder="Username"><br />

                    <a href="/user/profile" class="btn">Don't delete my account!</a>
                    <button class="btn btn-danger">Delete my account</button>
                </form>
        </div>
    </div>
{% endblock %}
