{% extends 'base.html' %}
{% load i18n %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'termsofservice-index' %}">{% trans "Help" %}</a></li>
        <li class="active">{% trans "The People Behind The Inbox" %}</li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
    {% for user in object_list %}
        <div class="{% cycle "col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2" "col-sm-5 col-md-4" %}">
            <h3>{{ user.public_name }}</h3>
            <p>
                {{ user.rendered_bio }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
