/*
First off, some styling to bootstrap
These have been adapted from: http://twitter.github.io/bootstrap/examples/carousel.html
*/
body {

	padding-bottom: 40px;
    color: #5a5a5a;
}

.navbar-wrapper {
	margin-bottom: -90px;
}

.container {
	margin-left:10%;
	margin-right:0;

	width:80%;
}

.navbar .navbar-inner {
	border-radius: 0px 0px 4px 4px;
}

.navbar .brand {
	padding: 14px 20px 16px;
	font-size: 16px;
	font-weight: bold;
}

.navbar .nav > li > a {
	padding: 15px 20px;
}

.navbar .btn-navbar {
	margin-top: 10px;
}

@media (max-width: 979px) {

	.container.navbar-wrapper {
		margin-bottom: 0;
	}
	.navbar-inner {
		border-radius: 0;
		margin: -20px 0;
	}
}


@media (max-width: 767px) {

	.container {
		margin-left:0;
		margin-right:0;
		width:auto;
	}

	.navbar-inner {
		padding-top:10px;
		margin: -20px;
	}
}

/*
Form stuff
Adjusted from: http://twitter.github.io/bootstrap/examples/signin.html
*/
.error {
	margin-left:35%;
}

.form {
	max-width: 210px;
	padding: 19px 19px 19px;
	margin: 0 auto 20px;
	background-color: #FFF;
	border: 1px solid #e5e5e5;
}


.form-settings {
	max-width:80%;
	margin-left:10%;
}

.form input {
	height: auto;
	padding: 4px 7px;
}

.form select {
	width: 78%;
}

.btn {
	margin-top:5px;
}

.btn-centre {
	margin-left:30%;
}


/*
Right now some other stuff
*/

.constant-alias {
	width:100px;
}

.content {
	margin-top:100px;
}

h2 {
	margin-left:10%;
}

.table-centre
{
  width:80%;
  margin-left:11%;

}

p {
	margin-left:10%;
	padding-left:20px;

	width:80%;
}

.text-right {
	margin-right:10%;
}

.email {
	margin-left:10%;
	width:80%;
}

dl {
	margin-left:10%;
	padding-left:20px;
	width:80%;
}

dt {
	padding-top:10px;
}

.big-paragraph {
	font-size:12pt;
}

.label-right {
	margin-top:10px;
	margin-right:8%;
	padding-right:1px;
	float:right;
}

.btn-attachment {
    margin-top:0;
}

.inline {
	display:inline;
}

/*
This should remove the arrow from dropdown select boxes
http://stackoverflow.com/questions/5912791/how-to-remove-the-arrow-from-a-select-tag-in-firefox
*/
select { 
    overflow:hidden;
    width: 120%;
}