{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}css/inboxen.min.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}megmelon-icon.png" />
        <title>{{ settings.SITE_NAME }} - {{ headline }}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block feeds %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">{{ settings.SITE_NAME }}</a>
                </div>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'inbox-add' %}">{% trans "Add Inbox" %}</a></li>
                        <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
                        <li><a href="{% url 'user-settings' %}">{% trans "Settings" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'user-login' %}">{% trans "Login" %}</a></li>
                        {% if settings.ENABLE_REGISTRATION %}
                            <li><a href="{% url 'user-status' %}">{% trans "Register" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <p class="navbar-text navbar-right"><a class="inherit-colour" href="{% url 'user-logout' %}">{% trans "Logout" %}</a></p>
                {% endif %}
            </div>
        </div>
        <div class="container-fluid">
            {% block breadcumbs %}
            {% endblock %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="text-muted text-center">
                <a href="https://github.com/Inboxen/">{% trans "Inboxen" %}</a> 
                {% trans "is licensed under the" %} <a href="https://www.gnu.org/licenses/agpl.txt">AGPL v3</a> |  
                <a href="http://getbootstrap.com/">{% trans "Bootstrap" %}</a> 
                {% trans "is licensed under the" %} <a href="https://raw.githubusercontent.com/twbs/bootstrap/v3.1.1/LICENSE">MIT License (MIT)</a>
            </p>
        </div>
    </div>
    </body>
</html>
