{% extends 'base.html' %}
{% load i18n %}
{% load inboxen_flags %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li class="active">{% blocktrans %}{{ user }}'s Home{% endblocktrans %}</li>
    </ul>
{% endblock %}

{% block content %}
<div class="table-responsive">
<table id="home" class="table table-hover table-honeydew">
    <thead>
    <tr>
        <th>{% trans "Inbox" %}</th>
        <th>{% trans "Last activity" %}</th>
        <th>{% trans "Description" %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tr id="unified" class="warning">
        <td class="inbox-name">{% spaceless %}
            <a href="{% url 'unified-inbox' %}">{% trans "Unified Inbox" %}</a>
            {{ user.userprofile.flags|render_flags }}
        {% endspaceless %}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {% for inbox in page_obj.object_list %}
        <tr id="{{ inbox.inbox }}@{{ inbox.domain.domain }}"{% if inbox.flags.disabled %} class="inbox-disabled"{% endif %}>
            <td class="inbox-name">{% spaceless %}
                <a href="{% url 'single-inbox' inbox=inbox.inbox domain=inbox.domain.domain %}">{{ inbox.inbox }}@{{ inbox.domain.domain }}</a>
                {{ inbox.flags|render_flags }}
            {% endspaceless %}</td>
            <td class="inbox-activity">
                {% if inbox.last_activity %}
                    <span title="{{ inbox.last_activity|date:"r" }}">{{ inbox.last_activity|timesince }} {% trans "ago" %}</span>
                {% else %}
                    <span><i>{% trans "No activity" %}</i></span>
                {% endif %}
            </td>
            <td class="inbox-description">{{ inbox.description|default:"&nbsp;" }}</td>
            <td class="inbox-options">
                <a title="{% trans "Options" %} " class="close" href="{% url 'inbox-edit' inbox=inbox.inbox domain=inbox.domain.domain %}">
                    <span aria-hidden="true">&#9997;</span><span class="sr-only">{% trans "Inbox Options" %}</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5"><b><a href="{% url 'inbox-add' %}">{% trans "Click here to add an Inbox" %}</a></b></td>
        </tr>
    {% endfor %}
</table>
</div>
<ul class="pager">
    {% if page_obj.has_previous %}
        <li class="previous"><a href="{% url 'user-home' page=page_obj.previous_page_number %}">
            <span aria-hidden="true">&laquo;</span><span class="sr-only">{% trans "Previous" %}</span>
        </a></li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="next"><a href="{% url 'user-home' page=page_obj.next_page_number %}">
            <span aria-hidden="true">&raquo;</span><span class="sr-only">{% trans "Next" %}</span>
        </a></li>
    {% endif %}
</ul>
{% endblock %}
