{% extends 'base.html' %}
{% load i18n %}
{% load inboxen_flags %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li class="active">{% blocktrans %}{{ user }}'s Home{% endblocktrans %}</li>
    </ul>
{% endblock %}

{% block header %}
    {{ block.super }}
    <script>
        <!-- inline option forms -->
        $(document).ready(function() {
            var $optionButtons = $("td.inbox-options > a");
            $optionButtons.click(function() {
                var $row = $(this).parents("tr:has(td.inbox-name)");
                var formURL = "/forms/inbox/edit/" + $row.attr("id") + "/";

                $.get(formURL, function(data) {
                    $row.after("<tr><td colspan=\"4\">" + data + "</td></tr>")
                });
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="table-responsive">
<table class="table table-hover table-honeydew">
    <thead>
    <tr>
        <th>{% trans "Inbox" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "Tags" %}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tr class="warning">
        <td>
            <a href="{% url 'unified-inbox' %}">{% trans "Unified Inbox" %}</a>
            {{ user.userprofile.flags|render_flags }}
        </td>
        <td><span title="{{ user.date_joined|date:"r" }}">{{ user.date_joined|timesince }} {% trans "ago" %}</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {% for inbox in page_obj.object_list %}
        <tr id="{{ inbox.inbox }}@{{ inbox.domain.domain }}" {% if inbox.flags.disabled %} class="inbox-disabled"{% endif %}>
            <td class="inbox-name">
                <a href="{% url 'single-inbox' inbox=inbox.inbox domain=inbox.domain.domain %}">
                    {{ inbox.inbox }}@{{ inbox.domain.domain }}
                </a>
                {{ inbox.flags|render_flags }}
            </td>
            <td class="inbox-created"><span title="{{ inbox.created|date:"r" }}">{{ inbox.created|timesince }} {% trans "ago" %}</span></td>
            <td class="inbox-tags">{{ inbox.tags|default:"&nbsp;" }}</td>
            <td class="inbox-options">
                <a title="{% trans "Options" %} " class="close" href="{% url 'inbox-edit' inbox=inbox.inbox domain=inbox.domain.domain %}">
                    <span aria-hidden="true">&#9997;</span><span class="sr-only">{% trans "Inbox Options" %}</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5"><b><a href="{% url 'inbox-add' %}">{% trans "Click here to add an Inbox" %}</a></b></td>
        </tr>
    {% endfor %}
</table>
</div>
<ul class="pager">
    {% if page_obj.has_previous %}
        <li class="previous"><a href="{% url 'user-home' page=page_obj.previous_page_number %}">
            <span aria-hidden="true">&laquo;</span><span class="sr-only">{% trans "Previous" %}</span>
        </a></li>
    {% endif %}

    {% if page_obj.has_next %}
        <li class="next"><a href="{% url 'user-home' page=page_obj.next_page_number %}">
            <span aria-hidden="true">&raquo;</span><span class="sr-only">{% trans "Next" %}</span>
        </a></li>
    {% endif %}
</ul>
{% endblock %}
