{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/inboxen.min.css" %}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="{% static "megmelon-icon.png" %}" />
        <title>{{ settings.SITE_NAME }} - {{ headline }}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">{{ settings.SITE_NAME }}</a>
                </div>
                {% block navbar %}
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'inbox-add' %}">{% trans "Add Inbox" %}</a></li>
                        <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
                        <li><a href="{% url 'user-settings' %}">{% trans "Account" %}</a></li>
                        <li><a href="{% url 'tickets-index' %}">{% trans "Help" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'user-login' %}">{% trans "Login" %}</a></li>
                        {% if settings.ENABLE_REGISTRATION %}
                            <li><a href="{% url 'user-status' %}">{% trans "Register" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <p class="navbar-text"><a class="inherit-colour" href="{% url 'user-logout' %}">{% trans "Logout" %}</a></p>
                <form
                    class="navbar-form navbar-right"
                    method="GET"
                    action="{% url 'user-search' %}"
                    onsubmit='window.location="{% url 'user-search' %}"+this.q.value+"/"; return false;'
                >
                    <div class="input-group">
                        <label class="sr-only">{% trans "Search emails and tags" %}</label>
                        <input type="text" class="form-control" name="q" value="{{ query }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default">{% trans 'Search' %}</button>
                        </span>
                    </div>
                </form>
                {% endif %}
                {% endblock %}
            </div>
        </div>
        <div class="container-fluid">
            {% block breadcumbs %}
            {% endblock %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="text-muted text-center">
                <a href="{{ settings.SOURCE_LINK }}">{% trans "Inboxen" %}</a> <!-- Commit ID: {{ settings.INBOXEN_COMMIT_ID }} -->
                {% trans "is licensed under the" %} <a href="https://www.gnu.org/licenses/agpl.txt">AGPL v3</a> |
                <a href="http://getbootstrap.com/">{% trans "Bootstrap" %}</a>
                {% trans "is licensed under the" %} <a href="https://raw.githubusercontent.com/twbs/bootstrap/v3.2.0/LICENSE">MIT License (MIT)</a> |
            <a href="{% url 'stats' %}">{% trans "Stats for nerds" %}</a>
            </p>
        </div>
    </div>
    </body>
</html>
