{% load assets i18n staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="{% static "megmelon-icon.png" %}" />
        <title>{{ headline }} - {{ settings.SITE_NAME }}</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% assets "inboxen_css" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
        {% endassets %}

        {% assets "inboxen_js" %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script>
            var button = '<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>';
            $(document).ready(function() {
                $("div[role=alert]").each(function() {
                    $(this).append(button);
                });
            });
        </script>
        {% block header %}{% endblock %}
    </head>
    <body>
        <span class="sr-only">
            {% if messages %}<a href="#alertmessages">{% trans "Skip to alerts" %}</a>{% endif %}
            <a href="#contentstart">{% trans "Skip to content" %}</a>
        </span>
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">{{ settings.SITE_NAME }}</a>
                </div>
                {% block navbar %}
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'inbox-add' %}">{% trans "Add Inbox" %}</a></li>
                        <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
                        <li><a href="{% url 'user-settings' %}">{% trans "Account" %}</a></li>
                        <li><a href="{% url 'termsofservice-index' %}">{% trans "Help" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'user-login' %}">{% trans "Login" %}</a></li>
                        {% if settings.ENABLE_REGISTRATION %}
                            <li><a href="{% url 'user-status' %}">{% trans "Register" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'blog' %}">{% trans "Blog" %}</a></li>
                        <li><a href="{% url 'termsofservice-index' %}">{% trans "Help" %}</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <p class="navbar-text"><a class="inherit-colour" href="{% url 'user-logout' %}">{% trans "Logout" %}</a></p>
                <form
                    class="navbar-form navbar-right"
                    method="GET"
                    action="{% url 'user-search' %}"
                    onsubmit='window.location="{% url 'user-search' %}"+this.q.value+"/"; return false;'
                >
                    <div class="input-group">
                        <label class="sr-only">{% trans "Search emails and tags" %}</label>
                        <input type="text" class="form-control" name="q" value="{{ query }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default">{% trans 'Search' %}</button>
                        </span>
                    </div>
                </form>
                {% endif %}
                {% endblock %}
            </div>
        </div>
        <div class="container-fluid">
            {% block breadcumbs %}
            {% endblock %}
            {% if messages %}
                <div id="alertmessages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
            <div id="contentstart">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="text-muted text-center">
                <a href="{% url 'source-index' %}">{% blocktrans with SITE_NAME=settings.SITE_NAME%}{{ SITE_NAME }} is Free Software{% endblocktrans %}</a> |
                <a href="{% url 'stats' %}">{% trans "Stats for nerds" %}</a>
                </p>
            </div>
        </div>
    </body>
</html>
