{% extends 'user/account/index.html' %}
{% load i18n bootstrap inboxen_account %}

{% block navigation %}
    {% account_menu 'user-delete' %}
{% endblock %}

{% block form %}
    <form method="POST" action="{% url 'user-delete' %}" class="form">
        {% csrf_token %}
        {{ form|bootstrap }}
        <a href="{% url 'user-home' %}" class="btn btn-default">{% trans "Don't delete my account!" %}</a>
        <button class="btn btn-danger">{% trans "Delete my account" %}</button>
    </form>
{% endblock %}
