{% extends 'user/account/index.html' %}
{% load i18n inboxen_account bootstrap %}

{% block navigation %}
    {% account_menu 'user-security' %}
{% endblock %}

{% block form %}
    <form class="form" action="{% url 'user-password' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap_inline }}
        <button class="btn btn-primary">{% trans "Change" %}</button>
        <a href="{% url 'user-security' %}" class="btn btn-default">{% trans "Don't change" %}</a>
    </form>
{% endblock %}
