{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h3>{{ object.subject }}</h3>
<p><b>{% trans "Asked by" %}</b> {{ object.author.username }}</p>
<p><b>{% trans "Asked" %}</b> {{ object.date|timesince }} {% trans "ago" %}</p>
<p><b>{% trans "Last modified" %}</b> {{ object.last_modified|timesince }} {% trans "ago" %}</p>
<p><b>{% trans "Status" %}:</b> {{ object.status }}</p>
<p>{{ object.body }}</p>

<span class="sr-only"><a href="#response-form">{% trans "Go to Response form" %}</a></span>

{% for response in responses %}
    <p>{{ response.author.username }} {% trans "says" %}:</p>
    <p>{{ response.body }}</p>
{% endfor %}
<form id="response-form" class="form" method="post" action="{% url 'tickets-detail' pk=object.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">{% trans "Submit" %}</button>
</form>
{% endblock %}
