{% extends 'base.html' %}
{% load i18n %}

{% block header %}
    <meta name="referrer" content="no-referrer">
{% endblock %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'user-home' %}">{% blocktrans %} {{ user }}'s Home {% endblocktrans %}</a></li>
        <li><a href="{% url 'single-inbox' inbox=email.inbox.inbox domain=email.inbox.domain.domain %}">{{ email.inbox }}</a></li>
        <li class="active">{{ email.headers.Subject|default:_("No Subject") }}</li>
    </ul>
{% endblock %}

{% block content %}
{% if ask_images %}
<p class="alert alert-warning">
    <a class="alert-link" href="{{ request.path }}?imgDisplay=1">{% trans "Click here to view images" %}</a>
</p>
{% endif %}

<div style="float: right">
    <form action="{% url 'single-inbox' inbox=email.inbox.inbox domain=email.inbox.domain.domain %}" method="POST" style="display:inline-block">
        {% csrf_token %}
        <button class="btn btn-default" type="submit" value="{{ email.eid }}" name="delete-single">{% trans "Delete" %}</button>
    </form>
    <form action="{{ request.path }}" method="POST" style="display:inline-block">
        {% csrf_token %}
        <button class="btn btn-default" type="submit" name="important-toggle">
        {% if object.flags.important %}{# email isn't actually the email object #}
            {% trans "Unmark as important" %}
        {% else %}
            {% trans "Mark as important" %}
        {% endif %}
        </button>
    </form>
    {% if headersfetchall %}
    <a class="btn btn-default" href="{{ request.path }}?all-headers=0">
        {% trans "Hide headers" %}
    {% else %}
    <a class="btn btn-default" href="{{ request.path }}?all-headers=1">
        {% trans "Show headers" %}
    {% endif %}
    </a>
</div>

<strong>{% trans "From" %}:</strong> {{ email.headers.From }} <br />
<strong>{% trans "Received" %}:</strong> <span title="{{ email.date|date:"r" }}">{{ email.date|timesince }} {% trans "ago" %}</span>
<br />
{% if headersfetchall %}
<strong>{% trans "Raw Headers" %}:</strong>
<pre>{% for name, value in email.headers.items %}{{ name }}: {{ value }}
{% endfor %}</pre>
{% endif %}

<strong>{% trans "Message" %}:</strong><br />
<div id="email-body">
{% if plain_message %}
    <pre>
{% endif %}

{{ email.body|safe }}

{% if plain_message %}
    </pre>
{% endif %}
</div>
<br />
<strong>{% trans "Attachments" %}</strong>:<br />
<div class="form">
{% for attachment in attachments %}
    <div class="col-sm-4">
    <div class="input-group">
        <span class="input-group-addon">{{ attachment.1.filename }} ({{ attachment.1.content_type.0 }})</span>
        <div class="input-group-btn">
            <a href="{% url 'email-attachment' attachmentid=attachment.0.id method='download' %}" class="btn btn-default">
                {% trans "Download" %}
            </a>
            <a href="{% url 'email-attachment' attachmentid=attachment.0.id method='view' %}" class="btn btn-default">
                {% trans "View" %}
            </a>
        </div>
    </div>
    </div>
{% endfor %}
</div>
<br /><br />

{% endblock %}
