{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="login">

    {% if form.errors %}
        <p class="error">{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}

    <form method="post" class="form" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td><input id="id_username" maxlength="254" name="username" type="text" placeholder="{% trans "Username" %}"/></td>
    </tr>
    <tr>
        <td><input id="id_password" name="password" type="password" placeholder="{% trans "Password" %} "/></td>
    </tr>
    </table>

    <button type="submit" class="btn btn-primary btn-centre">{% trans "Login" %}</button>
    <input type="hidden" name="next" value="/user/profile" />
    </form>

</div>

{% endblock %}
