{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h2 class="inline"> {% trans "Aliases" %} </h2>
{% if not aliases %}
    <p>{% trans "You have not added any aliases yet, this makes me a sad panda :(" %} </p>
{% else %}
<a class="label-right" href="/email/request">
    {% if not available %}
        <span class="label label-important text-rigth">
    {% elif available < 10 %}
        <span class="label label-warning text-right">
    {% else %}
        <span class="label text-right">
    {% endif %}
    {% trans "Available:" %} {{ available }}</span>
</a>
    <table class="table table-hover table-centre table-honeydew">
        <thead>
        <tr>
            <th>{% trans "Alias" %}</th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Tags" %}</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tr class="warning">
            <td><a href="/inbox/">{% trans "Unified" %}</a>
            {% if total_email_count %}
                <span class="badge">{{ total_email_count }}</span>
            {% endif %}
            </td>
            <td><span title="{{ user.date_joined }}">{{ user.date_joined|timesince }} {% trans "ago" %}</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        {% for alias in aliases.object_list %}

            <tr>
                <td><a href="/inbox/{{ alias.alias }}@{{ alias.domain }}">{{ alias.alias }}@{{ alias.domain }}</a>
                {% if alias.email_count %}
                    <span class="badge">{{ alias.email_count }}</span>
                {% endif %}
                </td>
                <td><span title="{{ alias.created }}">{{ alias.created|timesince }} {% trans "ago" %}</span></td>
                {% if alias.tags %}
                    <td>{{ alias.tags }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                <td><a href="/email/edit/{{ alias.alias }}@{{ alias.domain }}">{% trans "Edit" %}</a></td>
                <td><a class="close" href="/email/delete/{{ alias.alias }}@{{ alias.domain }}">&times;</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="paginator text-right">
        <span class="step-link">
            {% if aliases.has_previous %}
                <span class="paginator-prev"><a href="/user/profile/{{ aliases.previous_page_number }}">{% trans "Previous" %}</a></span>
            {% endif %}
            <span class="current">
                {% trans "Page" %} {{ aliases.number }} {% trans "of" %} {{ aliases.paginator.num_pages }}
            </span>
            {% if aliases.has_next %}
                <span class="paginator-next"><a href="/user/profile/{{ aliases.next_page_number }}">{% trans "Next" %}</a></span>
            {% endif %}
        </span>
   </div>                
{% endif %}

{% endblock %}
