{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="registration">

  <form action="" class="form form-login" method="post">
		{% csrf_token %}
		<input id="id_username" maxlength="30" name="username" type="text" placeholder="Username" />
		<input id="id_password1" name="password1" type="password" placeholder="Password" />
		<input id="id_password2" name="password2" type="password" placeholder="Repeat Password" />


		<button class="btn btn-primary btn-centre">Sign up!</button>
  </form>

</div>
{% endblock %}
