{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <form action="/user/settings/" class="form wide-form" method="POST">{% csrf_token %}

        <div class="input-prepend input-append">
            <span class="add-on">
            {% if spamfiltering %}
                <input type="checkbox" id="appendedInput" name="spam_filtering" checked="yes">
            {% else %}
                <input type="checkbox" id="appendedInput" name="spam_filtering">
            {% endif %}
            </span>
            <span class="add-on">{% trans "Spam Filtering" %}</span>
        </div>
        <br />
        <div class="input-append" >
            <select name="html-preference">
                {% if htmlpreference == 0 %}
                    <option value="0" selected="selected">{% trans "Reject HTML" %}</option>
                {% else %}
                    <option value="0">{% trans "Reject HTML" %}</option>
                {% endif %}
                
                {% if htmlpreference == 1 %}
                    <option value="1" selected="selected">{% trans "Prefer Plain-text" %}</option>
                {% else %}
                    <option value="1">{% trans "Prefer Plain-text" %}</option>
                {% endif %}
                
                {% if htmlpreference == 2 %}
                    <option value="2" selected="selected">{% trans "Prefer HTML" %}</option>
                {% else %}
                    <option value="2">{% trans "Prefer HTML" %}</option>
                {% endif %}
            </select>
            <span class="add-on">{% trans "for my emails" %}</span>
            <br /><br />
        </div><br />
        
        {% if error %}
            <p> {{ error }} </p><br />
        {% endif %}

        <a class="btn" href="/user/settings/password">{% trans "Change Password" %}</a><br />
        <a class="btn btn-danger" href="/user/settings/delete">{% trans "Delete Account" %}</a><br />
        <br />
        <button class="btn">{% trans "Save" %}</button>
        <a href="/user/profile" class="btn">{% trans "Cancel" %}</a>

    </form>
{% endblock %}
