{% extends 'base.html' %}

{% load i18n %}

{% block breadcumbs %}
    <ul class="breadcrumb">
        <li class="active">{% blocktrans %}{{ user }}'s Home{% endblocktrans %}</li>
    </ul>
{% endblock %}

{% block content %}
    {% url 'unified-inbox' as inbox_url %}
    {% if not page_obj.object_list %}
        <p>{% trans "You have not added any inboxes yet, this makes me a sad panda :(" %} </p>
    {% else %}
        <div class="table-responsive">
        <table class="table table-hover table-honeydew">
            <thead>
            <tr>
                <th>{% trans "Inbox" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tr class="warning">
                <td>
                    <a href="{{ inbox_url }}">{% trans "Unified Inbox" %}</a>
                    {% if user.userprofile.flags.unified_has_new_messages %}
                        <span class="label label-primary" title="{% trans "New messages" %}">{% trans "New" %}</span>
                    {% endif %}
                </td>
                <td><span title="{{ user.date_joined|date:"r" }}">{{ user.date_joined|timesince }} {% trans "ago" %}</span></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            {% for inbox in page_obj.object_list %}

                <tr>
                    <td>
                        <a href="{% url 'single-inbox' inbox=inbox.inbox domain=inbox.domain.domain %}">
                            {{ inbox.inbox }}@{{ inbox.domain.domain }}
                        </a>
                        {% if inbox.flags.new %}
                            <span class="label label-primary" title="{% trans "New messages" %}">{% trans "New" %}</span>
                        {% endif %}
                    </td>
                    <td><span title="{{ inbox.created|date:"r" }}">{{ inbox.created|timesince }} {% trans "ago" %}</span></td>
                    {% if inbox.tags %}
                        <td>{{ inbox.tags }}</td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                    <td>
                        <a class="close edit" href="{% url 'inbox-edit' inbox=inbox.inbox domain=inbox.domain.domain %}">&#9997;</a>
                    </td>
                    <td>
                        <a title="{% trans "Delete Inbox" %}" class="close" href="{% url 'inbox-delete' inbox=inbox.inbox domain=inbox.domain.domain %}">&times;</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous"><a href="{% url 'user-home' page=page_obj.previous_page_number %}">&laquo;</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="next"><a href="{% url 'user-home' page=page_obj.next_page_number %}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
