{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if form.errors %}
        <p class="alert alert-danger">{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}
<div class="row">
    <div class="panel panel-default  col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="panel-body">
            <form method="post" class="form" action="{% url 'user-login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only">{{ form.username.label }}</label>
                {{ form.username }}
                <label class="sr-only">{{ form.password.label }}</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-default">{% trans "Login" %}</button>
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
