{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% if form.errors %}
        <p class="alert alert-danger">{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}
<div class="row">
    <div class="panel panel-default col-sm-4 col-sm-offset-4">
        <div class="panel-body">
            <form method="post" class="form" action="{% url 'user-login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username }}
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-default">{% trans "Login" %}</button>
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
