{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h2> {% blocktrans %} Current status of {{ SITE_NAME }} {% endblocktrans %}</h2>
    <p> {% blocktrans %} {{ SITE_NAME }} is currently in heavy development, we're currently <strong>not</strong> feature complete. We expect there to be bugs. Please be aware of the following things:{% endblocktrans %}<br />
        <ul>
            <li>{% trans "The software <strong>may</strong> contain critical bugs (which may result in data loss, non-functioning parts of the code, etc...)" %}</li>
            <li>{% trans "The infrastruture is also being tested and developed, this means we may have server problems and even downtime" %}</li>
        </ul>

    <br />
    {% blocktrans %} Please only continue if you accept these could occur while using this software. We're constantly working on {{ SITE_NAME}}, in the future the risks will be much lower and we will have a stable, reliable service.{% endblocktrans %}

    <br />
    <br />
    <a href="/" class="btn btn-centre">{% trans "I'll return when you're stable" %}</a>
    <a href="/user/register/" class="btn">{% trans "I accept! Let me join!" %}</a>
{% endblock %}
