name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: '02 08 * * *'

jobs:
  py-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install GNU gettext
        run: sudo apt install gettext
      - name: Start PostgreSQL
        # TODO this is the wrong version of Postgres
        run: |
          sudo systemctl start postgresql.service
          pg_isready
          sudo -u postgres createuser --createdb runner
      - name: Run Python tests
        run: make tests-py-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

  py-misc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tox_env: [lint, isort, docs]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install tox
        run: pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.tox_env }}

  js-unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        script: ["karma:firefox", "karma:chrome", "jshint"]
    env:
      MOZ_HEADLESS: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '8'
      - run: npm install
      - run: npx grunt ${{ matrix.script }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
