{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <div class="login">

        <form action="/email/add/" class="form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="inbox" value="{{ inbox }}">
            <div class="input-prepend">
                <span class="add-on constant-inbox">{{ inbox }}@</span>
                <select id="prependedInput" name="domain">
                {% for domain in domains %}
                    <option value="{{ domain }}">{{domain}}</option>
                {% endfor %}
                </select>
            </div>
            <br />
            <input id="tag" name="tags" placeholder="{% trans "Tag1, Tag2, etc..." %}"><br />
            <button class="btn btn-centre">{% trans "Add" %}</button>        
        </form>

    </div>

{% endblock %}
