/*
 * This style sheet is under the Creative Commons CC BY-SA 3.0
 * http://creativecommons.org/licenses/by-sa/3.0/
 */

* {
    font-family:Helvetica, arial;
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
}

.paginator {
    font-weight:bold;
    float:right;
    padding-right:30%;
}

.heading {
    background: #333;
    color:#EEE;

    padding-top:15px;
    height: 50px;
}

.menu {
    font-size: 14pt;
    float: right;
    padding-right: 15%;
    padding-top:20px;
}

.logo {
    padding-left: 5%;
    font-size: 25pt;
}

.menu li {
    list-style: none;
    display: inline;
    padding-left:7px;
}

a {
    text-decoration: none;
    color: #EEE;
}

.items {
    padding-top:25px;
    margin-left:7%;
    margin-right:7%;
    color:black;
}

.items h1 {
    padding-bottom:15px;
}

.items p {
    padding-left:20px;
    padding-bottom:30px;
}

.items a {
    color:#444
}

.uncolor-link {
    color:black;
}

.logo-meg {
    color:white;
}

.logo-world {
    color:pink;
}

h2 {
    padding-left:100px;
    font-size:18px;
    display:inline;
}

.date {
    font-style:italic;
    display:inline;
    float:right;
}

table {
    padding-left:10%;
}

th {
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}

th:first-child {
    padding-left:5px;
    padding-right:5px;
}

td {
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}

td:first-child {
    text-align:left;
    padding-left:5px;
    padding-right:5px;
}

.bottom {
    position:absolute;
    bottom:0;
    padding-bottom:10px;
}

.login {
    padding-top:150px;
}

.login p {
    text-align:center;
}

.login form {
    padding-left:25%;
}

.centre {
    padding-left:27%;
}

.error {
    margin-left:-75px;
    padding-bottom:10px;
}

h1 {
    padding-left:100px;
    padding-top:30px;
}

.registration {
    padding-top:15px;
    padding-left:130px;
}

.registration label {
    float:left;
    display:block;
    width:250px;
}

.helptext {
    display:none;
}

.content {
    padding-top:2%;
    margin-left:5%;
}

h2 {
    font-size:20pt;
}   

p, table {
    margin-left:5%;
}

.content a {
    color:#111;
}
